@use "./colors.scss" as *;

* {
    font-family: 'Inter', sans-serif;
}

.container {
    background-color: $Very_Dark_Blue;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.form {
    background-color: $Dark_Blue;
    border-radius: 20px;
    display: flex;
    padding: 20px;
    flex-direction: column;
    justify-content: center;
    position: relative;
}

.title {
    color: white;
}

.about {
    max-width: 350px;
    word-wrap: break-word;
    overflow-wrap: break-word;
    color: $Light_Grey;
}

.rating_buttons {
    max-width: 350px;
    margin-right: 20px;
    width: 50px;
    height: 50px;
    color: $White;
    border: none;
    border-radius: 50%;
    background-color: $Not_Very_Dark_Blue;
    font-weight: bold;

    &.selected {
        color: black;
        background-color: white;
    }

    &:hover {
        background-color: $Orange;
        color: black;
    }

    &:focus {
        outline: 2px solid $Orange; // Added focus style
    }
}

.submit_button {
    padding: 10px;
    width: 96%;
    border: none;
    background-color: $Orange;
    border-radius: 20px;
    color: $Dark_Blue;
    font-weight: bold;

    &:hover {
        background-color: white;
        color: black;
    }

    &:focus {
        outline: 2px solid $Orange; // Added focus style
    }
}

.img_container {
    width: 25px;
    height: 25px;
    padding: 7px;
    background-color: $Not_Very_Dark_Blue;
    border-radius: 50%;
    display: flex; 
    justify-content: center; /* Center horizontally */
    align-items: center; /* Center vertically */
}

.img_star {
    width: 15px;
    height: auto; /* Maintain aspect ratio */
}

.thank_container { // Corrected the typo here
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center; // Center text
    position: relative;
}

.rating {
    background-color: $Not_Very_Dark_Blue;
    color: $Orange;
    padding: 10px;
    border-radius: 50px;
}

.other_text {
    color: $Light_Grey;
    max-width: 350px;
    word-wrap: break-word;
    overflow-wrap: break-word;
}

.thanks {
    color: $White;
}
