@use "./colors.scss" as *;

.container {
    background-color: $Green_200;
    align-items: center;
    justify-content: center;
    display: flex;
    height: 100vh;
}

.form {
    justify-content: center;
    display: flex;
    flex-direction: column;
    background-color: white;
    padding: 27px;
    border-radius: 15px;
}

.member {
    width: 100%;
}

.form>* {
    margin: 10px;
}

$distance: 20px;

.flex-grid {
    display: flex;
    flex-wrap: wrap;
    gap: $distance;
}

.flex-item {
    width: calc(50% - $distance/2);
}

.labelForm {
    display: block;
    margin-bottom: 5px;
    font-weight: lighter;
    color: rgb(50, 50, 50);
    font-size: 12px;
}

.green-asterisk {
    color: $Green_600;
}

input {
    padding: 10px;
    border-radius: 5px;
    outline: none;
    border: 1px solid black;
}

.message {
    border-radius: 5px;
    resize: none;
    overflow-y: auto;
}

.submit-button {
    width: 100%;
    background-color: $Green_600;
    border: none;
    border-radius: 5px;
    color: white;
    padding: 10px;
}

.checkbox_text {
    font-size: 12px;
}